@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    /* FONT WEIGHT */

    --fw-light: 200;
    --fw-regular: 300;
    --fw-medium: 400;
    --fw-semibold: 500;
    --fw-bold: 600;
    --fw-extra: 700;
}

body{
    position: relative;
    height: 100vh;
    background-color: blue;
    font-weight: var(--fw-medium);

}

.start-btn, 
.info-box,
.quiz-section{
    position: absolute;
    top: 50%;
    left:  50%;
    transform: translate(-50%, -50%);
}

.start-btn button{
    width: 150px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 1.1rem;
    color: blue;
    font-weight: var(--fw-bold);
    cursor: pointer;
}

.start-btn button:hover{
    transform: scale(1.05);
    transition: transform 500ms ease-in-out;

}

.info-box{
    display: none;
    width: 540px;
    background: white;
    border-radius: 5px;
}

.info-box .info-box__title{
    height: 60px;
    width: 100%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
    padding: 0 35px;
    font-size: 20px;
    font-weight: var(--fw-bold);
}

.info-box .info-box__rules-list{
    padding: 15px 35px;

}

.info-box .info-box__rules-list .rule{
    margin: 5px 0;
    font-size: 1.1rem;
}

.info-box .info-box__rules-list .rule span{
    color: blue;
    font-weight: var(--fw-bold);
}


.info-box .button{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;
    border-top: 1px solid lightgray; ;
}

.info-box .button button{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    border: 1px solid blue;
    background-color: blue;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    font-weight: var(--fw-semibold);
    cursor: pointer;
}

.info-box .button .quit{
    background-color: transparent;
    color: blue;
}

.info-box .button .quit:hover, .info-box .button .restart:hover {
    color: white;
    background-color: darkblue;
    border: darkblue;
}

/* QUIZ SECTION */

.quiz-section{
    width: 550px;
    background: white;
    border-radius: 5px;
}

.quiz-section header{
    position: relative;
    z-index: 99;
    height: 70px;
    padding: 0 30px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
}
.quiz-section header .quiz-section__title{
    font-size: 20px;
    font-weight: var(--fw-bold);
}
.quiz-section .timer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
    height: 45px;
    background: #cce5ff;
    border: 1px solid #b8daff;
    border-radius: 5px;
    padding: 0 8px;
}

.quiz-section .timer .timer__text{
    font-weight: inherit;
    font-size: 1.1rem;
    user-select: none;
}

.quiz-section .timer .timer__time{
    font-size: 1.15rem;
    font-weight: var(--fw-semibold);
    background: #343a40;
    height: 30px;
    width: 45px;
    color: white;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #343a40;
    user-select: none;
}

.quiz-section section{
    padding: 25px 30px 20px;
    background: white;
}
.quiz-section section .question-text{
    font-size: 25px;
    font-weight: var(--fw-bold);
}

.quiz-section section .answer-list{
    padding: 20px 0;
    display: block;
}

.quiz-section section .answer-list .answer{
    font-size: 1.1rem;
    background: aliceblue;
    border: 1px solid #84c5fe;
    border-radius: 5px;
    padding: 8px 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.3s ease;
}

.quiz-section section .answer-list .answer:hover{
    color: #009085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.quiz-section section .answer-list .answer .icon{
    height: 30px;
    width: 30px;
    border: 2px solid ;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}
.tick{
    color: #23903c;
    border-color: #23903c;
}

.cross{
    color: red;
    border-color: red;
}

footer{
    margin-top: -15px;
}



